@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: "Cormorant", serif;
    background-color: rgb(253, 247, 236);
}

.wrapper {
    max-width: 100rem;
    margin: 0 auto;
}


            /* Navigation Bar */

.navbar {
    margin: 1.5rem 0 0 2rem;
}

.navbar h1,
.links,
.links li {
    display: inline-block;
}

.navbar h1 {
    font-weight: 400;
    margin: 0 2rem 0 0;
}

.links ul {
    padding: 0;
}

.links li {
   list-style: none; 
   margin: 0 .5rem;
}

.links a {
    text-decoration: none;
    color: #333;
    font-size: 1.4em;
    font-weight: 600;
}

a.active {
    border-bottom: 1px solid #333;
    padding-bottom: 0;
}

.links a:hover {
    color: #818181;
}

.links li a.active:hover {
    border-bottom: 1px solid #818181;
}


            /* Gallery */

.work {
    padding: 0 .5rem 0 1rem;
}

.card {
    display: inline-block;
    width: 49.5%;
    padding: 1rem;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 400px;
    transition: .2s ease-in-out;
    object-fit: cover;
}

.card img:hover {
    opacity: .8;
}

.card h2 {
    margin: 8px 0 16px 5px;
    font-weight: 400;
}

.work p {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
}


            /* About */

.about {
    width: 40%;
    min-width: 600px;
    margin: 5rem 0 5rem 12rem;
}

.about h3 {
    font-size: 2em;
}

.underline {
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: .5rem;
    margin-top: 0;
}

.contact {
    margin: 5rem 0;
}

.contact p {
    font-size: 1.4em;
    margin: 0;
}